//	Headings

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato')

.huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  color: $darkgrey
  font-family: 'Lato', sans-serif
  font-weight: 700
  margin: 0

#homepage_title
  color: $armygreen
  font-family: 'Cormorant Garamond', serif
  font-weight: 700
  font-size: 64px
  line-height: 1.1
  @media only screen and (max-width: 777px)
    font-size: 52px
    line-height: 1

.blurb
    color: $lightgreen
    font-family: 'Lato', sans-serif
    font-size: 24px
    font-weight: 100
    line-height: 1.6
    @media only screen and (max-width: 680px)
      font-size: 18px

.huge, h1
  font-size: 48px
  line-height: 1
  padding-bottom: 12px
  @media only screen and (max-width: 680px)
    font-size: 36px

.large, h2
  font-size: 36px
  line-height: 1
  padding-bottom: 24px
  @media only screen and (max-width: 680px)
    font-size: 28px
    padding-bottom: 20px

.bigger, h3
  font-size: 24px
  line-height: 1
  @media only screen and (max-width: 680px)
    font-size: 20px

.big, h4
  font-size: 22px
  line-height: 1.38
  @media only screen and (max-width: 680px)
    font-size: 18px

.small, small
  font-size: 10px
  line-height: 1.2



// Basic Text Style

p
  font-family: 'Cormorant Garamond', serif
  line-height: 1.4
  margin: 0 0 20px 0
  font-weight: 500
  font-size: 20px

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
