$primary_c1: $lightturquoise

.huge, h1
  color: $primary_c1

.large, h2
  color: $primary_c1

.img_bg
  background: $primary_c1

.ul1
  li::before
    content: "•"
    color: $primary_c1
    padding-right: 20px
    font-size: 30px

.ul1_nested
  li::before
    content: "○"
    color: $primary_c1
    padding-right: 20px
    font-size: 20px
    margin-left: 8px
