#pp
  grid-column: 4 / span 3
  width: 100%
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12

#myblurb
  grid-column: 7 / span 4
  width: 100%
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12

.name_newline
  @media only screen and (max-width: 425px)
    display: none

.hero
  margin-top: 120px
  @media only screen and (max-width: 425px)
    margin-top: 28px


.flex_container
  display: flex
  justify-content: center

#arrow_down
  margin: 150px auto 80px auto
  @media only screen and (max-width: 425px)
    margin: 60px auto 40px auto

#portfolio_display
  margin-bottom: 160px
  @media only screen and (max-width: 425px)
    margin-bottom: 80px

//Image Portfolio
.thumb_img
  width: 100%
  height: auto
  display: block
  transition: all 0.3s ease

//Thumbnail Container
.thumb_inner
  position: relative
  overflow: hidden
  height: 100%

.thumb_inner:hover .thumb_img
  transform: scale(1.1)

//Thumbnail Text Container
.thumb_hover_meta
 align-self: center
 text-align: center
 padding: 2.22rem



//Thumbnail one
//--Setting Background colour and dimension
#portfolio_item_one
  grid-column: 2 / span 5
  width: 100%
  background: $darkturquoise
  margin-bottom: 40px
  position: relative
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12
    margin-bottom: 16px

//--Overlay
#thumb_hover_one
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(152.23deg, rgba(8, 96, 95, 0.9) 5.91%, rgba(79, 93, 47, 0.9) 95.71%)
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  display: flex
  transition: all .3s ease

//Thumbnail two
//--Setting Background colour and dimension
#portfolio_item_two
  grid-column: 7 / span 5
  width: 100%
  background: $lightturquoise
  margin-bottom: 40px
  position: relative
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12
    margin-bottom: 16px

//--Overlay
#thumb_hover_two
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(152.23deg, rgba(79, 93, 47, 0.9) 5.91%, rgba(23, 126, 137, 0.9) 95.71%)
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  display: flex
  transition: all .3s ease

//Thumbnail three
//--Setting Background colour and dimension
#portfolio_item_three
  grid-column: 2 / span 5
  width: 100%
  background: $brown
  margin-bottom: 40px
  position: relative
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12
    margin-bottom: 16px

//--Overlay
#thumb_hover_three
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(152.23deg, rgba(66, 54, 41, 0.9) 5.91%, rgba(79, 93, 47, 0.9) 95.71%)
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  display: flex
  transition: all .3s ease

//Thumbnail four
//--Setting Background colour and dimension
#portfolio_item_four
  grid-column: 7 / span 5
  width: 100%
  background: $blue
  margin-bottom: 40px
  position: relative
  @media only screen and (max-width: 425px)
    grid-column: 1 / span 12
    margin-bottom: 16px

//--Overlay
#thumb_hover_four
  position: absolute
  width: 100%
  height: 100%
  background: linear-gradient(152.23deg, rgba(79, 93, 47, 0.9) 5.91%, rgba(72, 86, 101, 0.9) 95.71%)
  bottom: 0
  left: 0
  right: 0
  opacity: 0
  display: flex
  transition: all .3s ease


.thumb_inner:hover #thumb_hover_one
  opacity: 1

.thumb_inner:hover #thumb_hover_two
  opacity: 1

.thumb_inner:hover #thumb_hover_three
  opacity: 1

.thumb_inner:hover #thumb_hover_four
  opacity: 1
